
body {
  margin-top:50px;
  background: -webkit-linear-gradient(top,#79aeac,#20797f);
  background: -moz-linear-gradient(top,#78adab,#20797f);
  background: -ms-linear-gradient(top,#78adab,#20797f);
  background: -o-linear-gradient(top,#78adab,#20797f);
  background: linear-gradient(top,#78adab,#20797f);
}

.glyphicon {
	color: #cdae51;
}
.glyphicon-pushpin, 
.glyphicon-heart {
	color: red;
}
.pull-right.img-responsive {
	margin: 0 0 1em 1em;
}
.btn-info {
    background-color: #cdae51;
    border-color: #3F2B22;
    color: #FFFFFF;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #4F2f26;
  border-color: #333;
}

.navbar-toggle{
  background: #888;
  color: white;
  width: 6em;
  height: 4em;
  line-height: 1em;
}
.navbar-inverse .navbar-toggle:hover {
  background-color: #ddd;
  color: #333;
}
.caret{
  display: block;
  margin:.3em auto 0 auto;
  color: pink;
  }
  .tab-pane {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd; 
  border-bottom: 1px solid #ddd;
  padding: 0.8em;
}
.active .glyphicon {
  color: black;
}

.intro {
	display: block;
	margin: 2em auto;
	text-align:center;
	font-size: 1.5em;
	font-weight: bold;
	font-variant: small-caps;
  	font-style: oblique;
}
.logo {
  font-family:'Indie Flower', cursive;
  font-size: 2em;
}

input[type=text],input[type=password],input[type=submit],input[type=email],input[type=url],input[type=number],input[type=datetime],input[type=tel],textarea,button,select{
	-webkit-appearance:none;
	border: none;
	background: white;
	-webkit-border-radius:0;
	border-radius: 0;
	padding: 5px;
	margin: 0'
	margin-bottom:10px;
}
.group:before,.group:after{
	content:"\0020";
	display:block;
	height:0;
	overflow:hidden;
}
.group:after{clear:both;}
.group{zoom:1;}

#myform{
	font:sans-serif;
	background-color:#137072;
	/*background:#4f6666;*/
	/*background:-webkit-linear-gradient(rgba(97,126,118,0.6),rgba(53,56,67,.5));*/

	-webkit-border-radius:10px;
	-o-border-radius:10px;
	-ms-border-radius:10px;
	border-radius:10px;

	width:80%;
	margin:0 auto;
	max-width:500px;
}
#myform fieldset{
	border:none;
	margin:10px;
	padding:0;
}
#myform fieldset:before{
	content:attr(title);
	display:block;
	padding:0;
	padding-top:30px;
	font-weight:bold;
	font-size:1.25em;
	color:#ffd98d;
	margin:0 auto;
}
#myform legend{
	display:none;
}
#myform ol{
	margin:0px;
	padding:0px;
}
#myform ol li{
	list-style:none;
	padding:8px;
	border-top:1px solid #697276;
	border-bottom: 1px solid #2e3539;
}

#myform ol li:first-child{
		border-top:none;
}
#myform ol li:last-child{
		border-bottom:none;
}
#myform ol li ol li{
	padding-bottom:0;
	display:inline;
	padding:0;
	border-top:none;
	border-bottom:none;
}
#myform ol li input[type="checkbox"]{
	width:auto;
	display:inline;
}
#myform ol li ol li input{
	display:inline;
	width:auto;
}
#myform ol li label, .grouphead{
	font-weight:bold;
	display:block;
	margin-bottom:5px;
	color:#cdd3c4;
	/*color:rgba(240,255,250,0.54);*/
}
#myform ol li.singleline label{
	font-weight:normal;
	display:inline;
}
#myform ol li ol li label{
	font-weight:normal;
	display:inline;
	cursor:pointer;
}

#myform ol li input, #myform textarea{
	display:block;
	width:96%;
	border:1px solid #343742;
	padding:5px;
	background:#5a8a82;
	margin:0 auto;
	outline:none;

	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
}

#myform input[required]{
	border-color:#feb41c;
}

#myform ol li select{
	width:200px;
	width:60%;
	min-width:100px;
	background:#8abac2;
	color:#343742;
	font-weight:bold;
	border:0;

	-webkit-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
}
#myform textarea{
	height:75px;
}
#myform button{
	width:30%;
	min-width:100px;
	float:right;
	margin-top:10px;
	margin-right:10px;
	margin-bottom:10px;
	border:0;
	background:#7aaab2;
	color:#343742;
	cursor:pointer;
	font-weight:bold;

	-webkit-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
	border-radius:8px;
}
#myform p{
	color:#ddd;
}

footer {
	clear: both;
	  padding: 2em 0;
	  margin: 3em 0;
	  border-top: 8px double #feb41c;
	  color: #ffd53d;
	  text-align: center;
}
footer a {
	text-align: center;
 	font-size: 1.4em;
	color:beige;
}

footer a:hover, a:active {
  color: #feb41c;
}
footer a:visited {
  color: white;
}

